
/* =============================
   全体レイアウト
============================= */
body {
    background-color: rgb(227, 255, 236);
    margin: 0;
    font-family: sans-serif;
}

/* 見出し */
h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

/* 説明文 */
p {
    text-align: center;
    margin: 16px 0;
}

/* =============================
   テーブル周り
============================= */
.table-and-button {
    position: relative;
    width: max-content;
    margin: 20px auto 50px;
}

.table-and-button table {
    width: 380px;
    border-collapse: collapse;
    border: 2px solid rgb(160, 160, 160);
    background-color: #ffffff;
    letter-spacing: 0.5px;
}

thead {
    background-color: rgb(228, 240, 245);
}

th, td {
    border: 1px solid rgb(235, 227, 227);
    padding: 8px 12px;
}

/* 1列目（ラジオボタン）を細く */
table th:first-child,
table td:first-child {
    width: 20px;
    text-align: center;
}

/* 2列目（馬番）を細く */
table th:nth-child(2),
table td:nth-child(2) {
    width: 20px;
    text-align: center;
}



/* 行ホバーで少し色をつける */
tbody tr:hover {
    background-color: #f7f7f7;
}

/* --- 行ごとの枠色を1列目のセルに適用 --- */
.waku_number-1 td:nth-child(2) {
  background: #ffffff;
  color: #111827;
}

.waku_number-2 td:nth-child(2) {
  background: #111827;
  color: #ffffff;
}

.waku_number-3 td:nth-child(2) {
  background: #ef4444;
  color: #ffffff;
}

.waku_number-4 td:nth-child(2) {
  background: #3b82f6;
  color: #ffffff;
}

.waku_number-5 td:nth-child(2) {
  background: #f59e0b;
  color: #111827;
}

.waku_number-6 td:nth-child(2) {
  background: #10b981;
  color: #ffffff;
}

.waku_number-7 td:nth-child(2) {
  background: #f97316;
  color: #111827;
}

.waku_number-8 td:nth-child(2) {
  background: #ec4899;
  color: #ffffff;
}

/* =============================
   ボタン
============================= */
.start-button,
.next-button{
    text-align: center;
    margin-top: 10px;
    padding: 8px 35px;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.start-wrapper,
.next-wrapper,
.fin-wrapper {
  display: flex;
  justify-content: center;  /* 横方向中央 */
  align-items: center;      /* 縦方向中央（必要なら） */
  height: 100px;            /* 画面中央にしたい場合 */
}

.decide-button {
    display: flex;
    margin-top: 10px;
    padding: 8px 35px;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.decide-button:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}
